.container {
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}

.form-container {
  width: 75%;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;

  & .logo {
    img {
      width: 70px;
      height: 70px;
    }
  }
}

.case-info-container .header-section {
  display: flex; /* or inline-flex */
  justify-content: space-between;
}

.office-txtbx {
  margin-top: 35px;
}

.case-info-content {
  .p-text-light {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  display: flex; /* or inline-flex */
  justify-content: space-around;
  margin-top: 5px;
}

.print-and-cancel {
  margin-top: 15px;
}

.fname {
  grid-area: fname;
}
.mname {
  grid-area: mname;
}
.lname {
  grid-area: lname;
}
.birth {
  grid-area: birth;
}
.age {
  grid-area: age;
}
.sex {
  grid-area: sex;
}
.weight {
  grid-area: weight;
}
.height {
  grid-area: height;
}
.allergy {
  grid-area: allergy;
}
.txtbx {
  grid-area: txtbx;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "fname fname mname mname lname lname"
    "birth birth birth birth age age"
    "sex sex sex sex sex sex"
    "weight weight weight height height height"
    "allergy allergy allergy txtbx txtbx txtbx";
  grid-gap: 12px;
}

.grid-container > div {
  padding: 25px 0;

  & #inputtext {
    width: 100%;
  }
}

:host ::ng-deep {
  .detail-card {
    .p-card.p-component {
      margin-top: 25px;
    }
  }
  .p-card-content {
    padding-left: 1%;
    padding-right: 1%;
  }
  .grid-container {
    .p-calendar {
      width: 99.5%;
    }
    .p-buttonset .p-button {
      width: 50%;
    }
  }
}
