.container {
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: #f1f1f1;
}

.form-container {
  width: 75%;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;

  & .logo {
    img {
      width: 70px;
      height: 70px;
    }
  }
}

:host ::ng-deep {
  .detail-card {
    .p-card.p-component {
      margin-top: 25px;
    }
  }
}
