.container {
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}

.form-container {
  width: 75%;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;

  & .logo {
    img {
      width: 70px;
      height: 70px;
    }
  }
}

.case-info-container .header-section {
  display: flex; /* or inline-flex */
  justify-content: space-between;
}

.office-txtbx-1 {
  margin-top: 30px;
}
.office-txtbx {
  margin-top: 55px;
}

.office-txtbx-group {
  margin-bottom: 30px;
}

.case-info-content {
  .p-text-light {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  display: flex; /* or inline-flex */
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 8px;
}

.print-and-cancel {
  margin-top: 15px;
}

.fname {
  grid-area: fname;
  margin-top: 15px;
}
.mname {
  grid-area: mname;
  margin-top: 15px;
}
.lname {
  grid-area: lname;
  margin-top: 15px;
}
.birth {
  grid-area: birth;
}
.age {
  grid-area: age;
}
.sex {
  grid-area: sex;
}
.weight {
  grid-area: weight;
}
.height {
  grid-area: height;
}
.allergy {
  grid-area: allergy;
}
.txtbx {
  grid-area: txtbx;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "fname fname mname mname lname lname"
    "birth birth birth birth age age"
    "sex sex sex sex sex sex"
    "weight weight weight height height height"
    "allergy allergy allergy txtbx txtbx txtbx";
  grid-gap: 12px;
}

.grid-container > div {
  padding: 25px 0;

  & #inputtext {
    width: 100%;
  }
}

.procedure-txtbx-group {
  margin-top: 20px;
  .p-text-light {
    margin-top: 14px;
    margin-bottom: 43px;
    font-style: italic;
    font-size: small;
  }

  #p-technology {
    margin-bottom: 40px;
  }

  .proc-drpdwn {
    display: flex; /* or inline-flex */
    flex-direction: column;
    margin-top: 37px;
    span {
      margin-bottom: 14px;
    }
  }

  .prod-and-brand {
    display: flex;
    margin-top: 40px;
    #p-brand {
      padding-left: 50%;
    }
  }
}

.surg-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 53px;
  margin-bottom: 41px;

  .deadline {
    padding-top: 9px;
  }
}

.patient-id {
  grid-area: patient-id;
}
.po-number {
  grid-area: po-number;
}

.add-info {
  display: grid;
  margin-top: 31px;
  margin-bottom: 12px;
  grid-template-areas: "patient-id patient-id patient-id po-number po-number po-number";
  grid-gap: 12px;
  & #inputtext {
    width: 100%;
  }
}

.discard-and-save {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:host ::ng-deep {
  .detail-card {
    .p-card.p-component {
      margin-top: 25px;
    }
  }
  .p-card-content {
    padding-left: 1%;
    padding-right: 1%;
  }
  .grid-container {
    .p-calendar {
      width: 99.5%;
    }
    .p-buttonset .p-button {
      width: 50%;
    }
  }
  .procedure-txtbx-group {
    .proc-drpdwn {
      .p-dropdown {
        width: 100%;
      }
    }
    .p-buttonset .p-button {
      width: 50%;
    }

    .scan-center {
      margin-top: 29px;
      .p-inputtext {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
      }
      #scan-label {
        margin-top: 20px;
      }
      .p-input-icon-right {
        width: 100%;
      }
      i {
        padding-top: 1px;
      }
    }
  }

  .add-info {
    .p-inputtext {
      margin-top: 12px;
      margin-bottom: 12px;
      width: 40%;
    }
  }
}
