<div class="container">
    <div class="form-container">
        <p-card>
            <div class="logo-container">
                <div class="logo">
                    <img src="assets/images/plan_pdf.png" alt=""/>
                </div>
                <div class="logo">
                    <img src="assets/images/planner.png" alt=""/>
                </div>
                <div class="logo">
                    <img src="assets/images/surg_file.png" alt=""/>
                </div>
            </div>
        </p-card>

        <p-card class="detail-card">
            <span>{{caseId}}</span>
        </p-card>
    </div>  
</div>

