<div class="container">
    <div class="form-container">
        <p-card>
            <div class="logo-container">
                <div class="logo">
                    <img src="assets/images/plan_pdf.png" alt=""/>
                </div>
                <div class="logo">
                    <img src="assets/images/planner.png" alt=""/>
                </div>
                <div class="logo">
                    <img src="assets/images/surg_file.png" alt=""/>
                </div>
            </div>
        </p-card>

        <p-card class="detail-card">
            <p-tabView>
                <p-tabPanel header="Case Information">
                   <div class="case-info-container">
                        <div class="header-section">
                            <h2>Case Information</h2>
                            <div class="print-and-cancel">
                                <i class="pi pi-print" style="font-size: 2rem"></i>
                                <button [style]="{'background':'#0083c0','margin-left':'20px'}" pButton type="button" class="p-button-raised"> Cancel Case</button>
                            </div>
                        </div>
                        <div class="case-info-content">
                            <div id="p-code">Patient Code <div class="p-text-light">{{this.case.psi_case_id}}</div></div>
                            <div id="p-external-id">External Id <div class="p-text-light">{{this.case.case_primary_key}}</div></div>
                            <div id="case-status">Case Status <div class="p-text-light">{{this.case.case_status}}</div></div>
                        </div>
                        <p-accordion [multiple]="true">
                            <p-accordionTab header="Person & Office Management">
                                <div>
                                    <div class="office-txtbx">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-user"></i>
                                            </span>
                                            <span class="p-float-label">
                                                <input type="text" id="inputgroup" pInputText [(ngModel)]="this.case.surgeon_name"> 
                                                <label for="inputgroup">Surgeon*</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="office-txtbx">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-user"></i>
                                            </span>
                                            <span class="p-float-label">
                                                <input type="text" id="inputgroup" pInputText [(ngModel)]="this.case.account_name"> 
                                                <label for="inputgroup">Account*</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="office-txtbx">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-user"></i>
                                            </span>
                                            <span class="p-float-label">
                                                <input type="text" id="inputgroup" pInputText [(ngModel)]="this.case.sales_rep_name"> 
                                                <label for="inputgroup">Sales Team / Sales Rep*</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="office-txtbx">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-map-marker"></i>
                                            </span>
                                            <span class="p-float-label">
                                                <input type="text" id="inputgroup" pInputText [(ngModel)]="this.case.distributor_territory"> 
                                                <label for="inputgroup">Distributor*</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </p-accordionTab>
                            <p-accordionTab header="Patient Information">
                                <div class="grid-container">
                                    <div class="fname"> 
                                        <div>
                                            <span class="p-float-label">
                                                <input type="text" id="inputtext" pInputText [(ngModel)]="this.case.first_name"> 
                                                <label for="inputtext">First Name*</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mname">
                                        <div>
                                            <span class="p-float-label">
                                                <input type="text" id="inputtext" pInputText [(ngModel)]="this.case.middle_name"> 
                                                <label for="inputtext">Middle Name</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="lname">
                                        <div>
                                            <span class="p-float-label">
                                                <input type="text" id="inputtext" pInputText [(ngModel)]="this.case.last_name"> 
                                                <label for="inputtext">Last Name*</label>
                                            </span>
                                        </div>
                                    </div>  
                                    <div class="birth">
                                        <span class="p-float-label calendar">
                                            <p-calendar inputId="calendar" [(ngModel)]="this.case.date_of_birth"></p-calendar>
                                            <label for="calendar">Date Of Birth*</label>
                                        </span>
                                    </div>
                                    <div class="age">age 23</div>
                                    <div class="sex">
                                        <p-selectButton class="gender" [options]="sexOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                    <div class="weight">
                                        <div>
                                            <span class="p-float-label">
                                                <input type="text" id="inputtext" pInputText> 
                                                <label for="inputtext">Weight (Kg)</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="height">
                                        <div>
                                            <span class="p-float-label">
                                                <input type="text" id="inputtext" pInputText> 
                                                <label for="inputtext">Height (cm)</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="allergy">Allergy</div>
                                    <div class="txtbx">
                                        <div class="p-field-checkbox">
                                            <p-checkbox [(ngModel)]="checked" value="true" inputId="binary"></p-checkbox>
                                            <label for="binary">Nickel</label>
                                        </div>
                                    </div>
                                </div>
                            </p-accordionTab>
                            <p-accordionTab header="Procedure Information">
                                Content 3    
                            </p-accordionTab>
                            <p-accordionTab header="Surgery Date">
                                Content 3    
                            </p-accordionTab>
                            <p-accordionTab header="Additional Information (optional)">
                                Content 3    
                            </p-accordionTab>
                        </p-accordion>
                   </div>
                </p-tabPanel>
                <p-tabPanel header="Product Information">
                    <div class="case-info-container">
                        <p-accordion [multiple]="true">
                            <p-accordionTab header="Header 1">
                                Content 1
                            </p-accordionTab>
                            <p-accordionTab header="Header 2">
                                Content 2
                            </p-accordionTab>
                            <p-accordionTab header="Header 3">
                                Content 3    
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </p-card>
    </div>  
</div>

